@model DatabaseImageProject.Models.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h2>POP-UP Olarak yapmayı dene</h2>

<div class="books-of-sujeesh">
    <h2 class="diplay-4">@Model.ProductName Details</h2>
    <div class="container">
        <section id="sujeesh-books" class="row">
            <div class="col-xs-12 book-sec-head">
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="book-card">
                    <img src="@Model.ProductImage" alt="">
                    <h3>@Model.ProductId</h3>
                    <p class="price">@Model.ProductPrice ₺</p>
                    <p>@Model.ProductName</p>
                </div>

            </div>

        </section>
    </div>
</div>
<a class="btn btn-primary" asp-action="Index">Back to Categories Page</a>
